@using DotNetNuke.Security.Membership;
@functions{
  string GetCurrentUserGuid(string username)
  {
    if (string.IsNullOrEmpty(username)) 
    { 
      return string.Empty;
    }
    else
    {
      return string.Format("{0}",Membership.GetUser(username).ProviderUserKey);
    }
  }
}
<h1>app-dev-testing-permissions-and-save</h1>
<h2>Before all tests</h2>
<a href="javascript:install()">install users and roles</a>
<div id="userRolesStatus"></div>
<link rel="stylesheet" href="@App.Path/lib/jasmine-3.2.1/jasmine.css">
<script src="@App.Path/lib/jasmine-3.2.1/jasmine.js"></script>
<script src="@App.Path/lib/jasmine-3.2.1/jasmine-html.js"></script>
<script src="@App.Path/lib/jasmine-3.2.1/boot.js"></script>
<script src="@App.Path/lib/spec-console-reporter.js"></script>
<script src="@App.Path/spec/spec-helper.js"></script>
<script>
  // jasmine.getEnv().clearReporters()
  // jasmine.getEnv().addReporter(consoleReporter);
  jasmine.getEnv().randomizeTests(false);
</script>
<!-- include source files here... -->
<script src="/desktopmodules/tosic_sexycontent/js/2sxc.api.min.js"></script>
<script>
  var appFolder = '@App.Folder';
  var apiUrl = '/DesktopModules/2sxc/API/app/' + appFolder + '/api/';
  var userId = @Dnn.User.UserID;
  var username = '@Dnn.User.Username';
  var moduleId = @Dnn.Module.ModuleID
</script>
<script src="@App.Path/src/dnn-user.js"></script>
<script src="@App.Path/src/test-dnn-users.js"></script>

<hr>
<h2>Click on button to sign in</h2>
<div>
  <button onclick="login(users.SuperUser, passwords.default); reload(); return false;">Sign in SuperUser (Host)</button>
</div>
<div>
  <button onclick="login(users.PapaSmurf, passwords.default); reload(); return false;">Sign in Papa Smurf (Administrator)</button>
</div>
<div>
  <button onclick="login(users.Smurfette, passwords.default); reload(); return false;">Sign in Smurfette (Smurfs)</button>
</div>
<div>
  <button onclick="login(users.Gargamel, passwords.default); reload(); return false;">Sign in Gargamel (Bad Guys)</button>
</div>
<div>
  <button onclick="login(users.Hulk, passwords.default); reload(); return false;">Sign in Hulk (Registered)</button>
</div>
<div>
  <button onclick="login(users.AppSmurf, passwords.default); reload(); return false;">Sign in AppSmurf (Smurfs, for app-permission checks)</button>
</div>
<div>
  <button onclick="logout(); reload(); return false;">Sign out</button>
</div>
<p></p>

<h2>Currnet user</h2>
<div>
  <label>Username</label>:
  <strong>@Dnn.User.Username</strong>
</div>
<div>
  <label>UserGuid</label>:
  <strong>@GetCurrentUserGuid(@Dnn.User.Username)</strong>
</div>
<p></p>

<script>
    function newItemForm(tag, entityType) {
        $2sxc.cms.run(tag, "new", { contentType: entityType})
            .then(function () {
                // alert("Thanks - we'll review your entry and publish it.")
            });
    }
    
    function editItemForm(tag, entityId) {
        $2sxc.cms.run(tag, "edit", { entityId: entityId, });
    }
</script>