<h1>1 - Standard UI Save Tests - Basic Control Flow</h1>
<div>
  These tests should use a very simple content-type (basically a title) just to verify the flow and correct find/save.<br>
  Run this as a non-host user (Smurfette) with edit-permissions only!<br>
  Do not run as host, as you'll probably not discover important issues.<br>
</div>
<h2>1.1 - Form in item-id mode (not content-group)</h2>
<ol>
  <li>open form for new item, fill in, save</li>
  <li>open form for edit item, make change, save</li>
</ol>
@Edit.Toolbar(Content, actions: "new,edit", contentType: "@Content.EntityType")
<div>
    <div>
        <lablel>Title</lablel>:
        <strong class="t11-title">@Content.EntityTitle</strong>
    </div>
</div>


<script src="@App.Path/spec/t11.spec.js"></script>
<script>
  const t11 = {
    moduleId: @Dnn.Module.ModuleID,
    appFolder: '@App.Folder',
    entityType: '@Content.EntityType',
  }
  t11spec(t11.moduleId, t11.appFolder, t11.entityType);
</script>
