@* enable the editing *@
@Edit.Enable(api: true, forms: true, context: true, autoToolbar: false)
@{
  string entityType = Content.EntityType;
}
<h1>2 - Public Form UI Tests</h1>
<div>
  These tests should verify that permissions prevent / allow saving correctly. So the setup must be:
</div>
<p></p>
<h2>2.1 - a content-type which doesn't have permissions set</h2>
<ul>
  <li>in this case an anonymous user who has the edit-button should get errors loading the schema already.</li>
</ul>
<p></p>

<h3>@Content.EntityType</h3>
<ol>
  <li><a href='javascript:newItemForm("@Dnn.Module.ModuleID")'>open form for new item, fill in, save</a></li>
  <li>open form for edit item, make change, save</li>
  <ol>
  @foreach(var cont in AsDynamic(App.Data[entityType])){
    <li style='background: @(cont.IsPublished ? "" : "yellow")'>
        <strong><a class="data-@cont.EntityTitle" href='javascript:editItemForm("@Dnn.Module.ModuleID",@cont.EntityId)'>@cont.EntityTitle</a></strong>
    </li>
  }
  </ol>
</ol>
<p></p>

<script>
    // simple function to run the command and handle the returned promise
    function newItemForm(tag) {
        $2sxc.cms.run(tag, "new", { contentType: "@Content.EntityType"})
            .then(function () {
                // alert("Thanks - we'll review your entry and publish it.")
            });
    }
</script>
