@* enable the editing *@
@Edit.Enable(api: true, forms: true, context: true, autoToolbar: false)
@{
  string entityType = Content.EntityType;
}
<h2>2.2 - a content-type which has create-permissions, but no schema permissions</h2>
<ul>
  <li>again an anonyomus user should get errors</li>
</ul>
<p></p>

<h3>@Content.EntityType</h3>
<ol>
  <li><a href='javascript:newItemForm("@Dnn.Module.ModuleID", "@Content.EntityType")'>open form for new item, fill in, save</a></li>
  <li>open form for edit item, make change, save</li>
  <ol>
  @foreach(var cont in AsDynamic(App.Data[entityType])){
    <li style='background: @(cont.IsPublished ? "" : "yellow")'>
        <strong><a class="data-@cont.EntityTitle" href='javascript:editItemForm("@Dnn.Module.ModuleID",@cont.EntityId)'>@cont.EntityTitle</a></strong>
    </li>
  }
  </ol>
</ol>
<p></p>
