@* enable the editing *@
@Edit.Enable(api: true, forms: true, context: true, autoToolbar: true)
@{
  string entityType = Content.EntityType;
}
<h2>2.5 - content-type which has anonyomus schema permissions, and anonymous edit-draft only</h2>
<ul>
  <li>an anonymous user should _not_ be able to create anything</li>
  <li>an anonymous user should be able to edit, but the result should be draft</li>
</ul>
<p></p>

<h3>@Content.EntityType</h3>
<ol>
  <li><a href='javascript:newItemForm("@Dnn.Module.ModuleID","@Content.EntityType")'>open form for new item, fill in, save</a></li>
  <li>open form for edit item, make change, save</li>
  <ol>
  @foreach(var cont in AsDynamic(App.Data[entityType])){
    <li style='background: @(cont.IsPublished ? "" : "yellow")'>
        <strong><a class="data-@cont.EntityTitle" href='javascript:editItemForm("@Dnn.Module.ModuleID",@cont.EntityId)'>@cont.EntityTitle</a></strong>
    </li>
  }
  </ol>
</ol>
<p></p>
